h5py
laspy>=2.4
numpy<2
pyyaml
sharedarray
tensorboard
tensorboardx
wandb
yapf
addict
einops
scipy
plyfile
termcolor
timm
spconv-cu120
flash-attn
torch-cluster
torch-scatter
torch-sparse
torch-geometric==2.5.3
colorhash
torchmetrics
